html {height: 100%;}
#root, .app, .App, .picker {
  height: 100%;
  position: relative;
}

body {
  background-color: #f1f1f1;
}

header {
  padding: 2rem 0;
  background: #ffffff;
  border-bottom: 30px solid #D14728;

  h1 {
    font-family: futura-pt, sans-serif;
  }

  hr {
    margin-top: 2rem;
  }
}
form {
  margin-bottom: 3rem;
}

.start-here {
  .callout.secondary {
    max-width: 460px;
    margin: 3rem auto 0;
    border-style: dashed;
  }

  .dzContainer {
    input:focus {
      outline: none;
    }

    .icon-wrapper {
      margin-bottom: 2rem;
    }

    p {
      margin: 0;
    }
  }
}



.picker {
  position: relative;

  button.pick-winner {
    width: 120px;
    height: 120px;
    border-radius: 70px;
    font-size: 1.2rem;
    font-weight: bold;
    border: 4px solid #D14728;
    outline: none;
    line-height: 1.2;

    &:active, &:focus {
      outline: none;
    }
  }

  button.reset {
    position: relative;
    top: -10px;
    left: -28px;
    outline: none;
    color: #888888;
    margin: 0;
    padding: 0;

    &:active, &:focus, &:hover {
      outline: none;
      color: #888888;
    }
  }

  .picker-form {
    padding-top : 2em;
  }

  #page-wrap {
    height: 100%;
  }
}

.winnerDisplay-enter {
  opacity: 0;
}
.winnerDisplay-enter.winnerDisplay-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
.winnerDisplay-leave {
  opacity: 1;
}
.winnerDisplay-leave.winnerDisplay-leave-active {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.currentWinner {
  opacity: 0;
  color: #424242;
  font-size: 4rem;
  font-weight: bold;
  font-family: futura-pt, sans-serif;
  text-align: center;
  text-shadow: 2px 2px 0px #d5d5d5, 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.winner-animation-container {
  position: relative;
}

.ml4 {
  position: relative;
  font-weight: 900;
  font-size: 4.5em;
}
.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  opacity: 0;
}

.current-winners {
  background: #182F58;
  height: 200px;
  color: #ffffff;
  width: 100%;
  position: absolute;
  bottom: 0;

  .winners-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    li {
      font-size: 1.2rem;
      margin-right: 10px;
      text-transform: capitalize;

      &:after {
        content: ", ";
      }

      &:last-child:after {
        content: "";
      }
    }
  }
}


/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 26px;
  height: 20px;
  right: 16px;
  top: 16px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  right: 14px !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: auto;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 0.4em 1.5em 0;
  font-size: 1.15em;
  height: auto;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  position: relative;
  height: auto;

  p {
    margin: 0 0 0.5rem 0;
    font-size: 1.1rem;

    &:after {
      content: "•";
      padding: 0 0.85rem;
    }

    &:last-child:after {
      content: "";
      padding-right: 0;
    }

  }
}

/* Individual item */
.bm-item {
  display: inline-block;
  border: none;
  outline: none;

  &.wrap {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

}
h3.bm-item {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}